extends nav

block append content
    .hero-wrap
      .overlay
      .circle-bg
      .circle-bg-2
      .container-fluid
        .row.no-gutters.d-flex.slider-text.align-items-center.justify-content-center(data-scrollax-parent='true')
          .col-md-6.ftco-animate.text-center(data-scrollax=" properties: { translateY: '70%' }")
            p.breadcrumbs(data-scrollax="properties: { translateY: '30%', opacity: 1.6 }")
              span.mr-2
                a(href='index.html') Home
              span Blog
            h1.mb-3.bread(data-scrollax="properties: { translateY: '30%', opacity: 1.6 }") Blog
    section.ftco-section.bg-light
      .container
        .row
          .col-md-4.ftco-animate
            .blog-entry
              a.block-20(href='blog-single.html' style="background-image: url('images/image_1.jpg');")
              .text.p-4.d-block
                .meta.mb-3
                  div
                    a(href='#') August 12, 2018
                  div
                    a(href='#') Admin
                  div
                    a.meta-chat(href='#')
                      span.icon-chat
                      |  3
                h3.heading
                  a(href='#') Even the all-powerful Pointing has no control about the blind texts
          .col-md-4.ftco-animate
            .blog-entry(data-aos-delay='100')
              a.block-20(href='blog-single.html' style="background-image: url('images/image_2.jpg');")
              .text.p-4
                .meta.mb-3
                  div
                    a(href='#') August 12, 2018
                  div
                    a(href='#') Admin
                  div
                    a.meta-chat(href='#')
                      span.icon-chat
                      |  3
                h3.heading
                  a(href='#') Even the all-powerful Pointing has no control about the blind texts
          .col-md-4.ftco-animate
            .blog-entry(data-aos-delay='200')
              a.block-20(href='blog-single.html' style="background-image: url('images/image_3.jpg');")
              .text.p-4
                .meta.mb-3
                  div
                    a(href='#') August 12, 2018
                  div
                    a(href='#') Admin
                  div
                    a.meta-chat(href='#')
                      span.icon-chat
                      |  3
                h3.heading
                  a(href='#') Even the all-powerful Pointing has no control about the blind texts
          .col-md-4.ftco-animate
            .blog-entry
              a.block-20(href='blog-single.html' style="background-image: url('images/image_4.jpg');")
              .text.p-4.d-block
                .meta.mb-3
                  div
                    a(href='#') August 12, 2018
                  div
                    a(href='#') Admin
                  div
                    a.meta-chat(href='#')
                      span.icon-chat
                      |  3
                h3.heading
                  a(href='#') Even the all-powerful Pointing has no control about the blind texts
          .col-md-4.ftco-animate
            .blog-entry(data-aos-delay='100')
              a.block-20(href='blog-single.html' style="background-image: url('images/image_5.jpg');")
              .text.p-4
                .meta.mb-3
                  div
                    a(href='#') August 12, 2018
                  div
                    a(href='#') Admin
                  div
                    a.meta-chat(href='#')
                      span.icon-chat
                      |  3
                h3.heading
                  a(href='#') Even the all-powerful Pointing has no control about the blind texts
          .col-md-4.ftco-animate
            .blog-entry(data-aos-delay='200')
              a.block-20(href='blog-single.html' style="background-image: url('images/image_6.jpg');")
              .text.p-4
                .meta.mb-3
                  div
                    a(href='#') August 12, 2018
                  div
                    a(href='#') Admin
                  div
                    a.meta-chat(href='#')
                      span.icon-chat
                      |  3
                h3.heading
                  a(href='#') Even the all-powerful Pointing has no control about the blind texts
        .row.mt-5
          .col.text-center
            .block-27
              ul
                li
                  a(href='#') &lt;
                li.active
                  span 1
                li
                  a(href='#') 2
                li
                  a(href='#') 3
                li
                  a(href='#') 4
                li
                  a(href='#') 5
                li
                  a(href='#') &gt;
    include footer
    #ftco-loader.show.fullscreen
        svg.circular(width='48px' height='48px')
            circle.path-bg(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke='#eeeeee')
            circle.path(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke-miterlimit='10' stroke='#F96D00')

        script(src='/javascripts/js/jquery.min.js')
        script(src='/javascripts/js/jquery-migrate-3.0.1.min.js')
        script(src='/javascripts/js/popper.min.js')
        script(src='/javascripts/js/bootstrap.min.js')
        script(src='/javascripts/js/jquery.easing.1.3.js')
        script(src='/javascripts/js/jquery.waypoints.min.js')
        script(src='/javascripts/js/jquery.stellar.min.js')
        script(src='/javascripts/js/owl.carousel.min.js')
        script(src='/javascripts/js/jquery.magnific-popup.min.js')
        script(src='/javascripts/js/aos.js')
        script(src='/javascripts/js/jquery.animateNumber.min.js')
        script(src='/javascripts/js/bootstrap-datepicker.js')
        script(src='/javascripts/js/jquery.timepicker.min.js')
        script(src='/javascripts/js/scrollax.min.js')
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')
        script(src='/javascripts/js/google-map.js')
        script(src='/javascripts/js/main.js')
