extends nav

block append content
    .hero-wrap
      .overlay
      .circle-bg
      .circle-bg-2
      .container-fluid
        .row.no-gutters.d-flex.slider-text.align-items-center.justify-content-center(data-scrollax-parent='true')
          .col-md-6.ftco-animate.text-center(data-scrollax=" properties: { translateY: '70%' }")
            p.breadcrumbs(data-scrollax="properties: { translateY: '30%', opacity: 1.6 }")
              span.mr-2
                a(href='/') Home
              span Contact
            h1.mb-3.bread(data-scrollax="properties: { translateY: '30%', opacity: 1.6 }") Contact
    section.ftco-section.contact-section.ftco-degree-bg
      .container
        .row.d-flex.mb-5.contact-info
          .col-md-12.mb-4
            h2.h4 Contact Information
          .w-100
          .col-md-3
            p
              span Address:
              |  198 West 21th Street, Suite 721 New York NY 10016
          .col-md-3
            p
              span Phone:
              a(href='tel://1234567920') + 1235 2355 98
          .col-md-3
            p
              span Email:
              a(href='mailto:info@yoursite.com') info@yoursite.com
          .col-md-3
            p
              span Website
              a(href='#') yoursite.com
        .row.block-9
          .col-md-6.pr-md-5
            form(action='#')
              .form-group
                input.form-control(type='text' placeholder='Your Name')
              .form-group
                input.form-control(type='text' placeholder='Your Email')
              .form-group
                input.form-control(type='text' placeholder='Subject')
              .form-group
                textarea.form-control(name='' id='' cols='30' rows='7' placeholder='Message')
              .form-group
                input.btn.btn-primary.py-3.px-5(type='submit' value='Send Message')
          //- #map.col-md-6
    include footer
    

       