footer.ftco-footer.ftco-bg-dark.ftco-section
    .container
      .row.mb-5
        .col-md
          .ftco-footer-widget.mb-4
            h2.ftco-heading-2 Raptor.
            p
              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
            p.mt-4
              a.btn.btn-primary.p-3(href='#') Get in touch
        .col-md
          .ftco-footer-widget.mb-4.ml-md-5
            h2.ftco-heading-2 Unseful Links
            ul.list-unstyled
              li
                a.py-2.d-block(href='#') Servers
              li
                a.py-2.d-block(href='#') Windos Hosting
              li
                a.py-2.d-block(href='#') Cloud Hosting
              li
                a.py-2.d-block(href='#') OS Servers
              li
                a.py-2.d-block(href='#') Linux Servers
              li
                a.py-2.d-block(href='#') Policy
        .col-md
          .ftco-footer-widget.mb-4
            h2.ftco-heading-2 Navigational
            ul.list-unstyled
              li
                a.py-2.d-block(href='/') Home
              li
                a.py-2.d-block(href='/domain') Domain
              li
                a.py-2.d-block(href='/hosting') Hosting
              li
                a.py-2.d-block(href='/about') About
              li
                a.py-2.d-block(href='/blog') Blog
              li
                a.py-2.d-block(href='/contact') Contact
        .col-md
          .ftco-footer-widget.mb-4
            .block-23.mb-3
              ul
                li
                  span.icon.icon-map-marker
                  span.text Saharanpur, UP, 247001 INDIA 
                li
                  a(href='#')
                    span.icon.icon-phone
                    span.text +91-9720541857 
                li
                  a(href='#')
                    span.icon.icon-envelope
                    span.text info@eminentinnovative.com
                li
                  span.icon.icon-clock-o
                  span.text Saturday &mdash; Sunday 8:00am - 5:00pm
            ul.ftco-footer-social.list-unstyled.float-md-left.float-lft.mt-5
              li.ftco-animate
                a(href='#')
                  span.icon-twitter
              li.ftco-animate
                a(href='#')
                  span.icon-facebook
              li.ftco-animate
                a(href='#')
                  span.icon-instagram
      .row
        .col-md-12.text-center
          p
            | Powered by Eminent Innovative Infotech

script(src='/javascripts/js/jquery.min.js')
script(src='/javascripts/js/jquery-migrate-3.0.1.min.js')
script(src='/javascripts/js/popper.min.js')
script(src='/javascripts/js/bootstrap.min.js')
script(src='/javascripts/js/jquery.easing.1.3.js')
script(src='/javascripts/js/jquery.waypoints.min.js')
script(src='/javascripts/js/jquery.stellar.min.js')
script(src='/javascripts/js/owl.carousel.min.js')
script(src='/javascripts/js/jquery.magnific-popup.min.js')
script(src='/javascripts/js/aos.js')
script(src='/javascripts/js/jquery.animateNumber.min.js')
//- script(src='/javascripts/js/bootstrap-datepicker.js')
//- script(src='/javascripts/js/jquery.timepicker.min.js')
script(src='/javascripts/js/scrollax.min.js')
//- script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')
//- script(src='/javascripts/js/google-map.js')
script(src='/javascripts/js/main.js')