extends nav

block append content
  
  .hero-wrap
    .overlay
    .circle-bg
    .circle-bg-2
    .container-fluid
      .slider-copy-text.d-md-flex.align-items-center(data-scrollax-parent='true')
        .left-logo.pr-md-4.ftco-animate.align-self-md-center(data-scrollax=" properties: { translateY: '70%' }")
          img.img-fluid.img(src='images/ei_square.png' alt='' style="width: 100px;")
        .one-forth.pr-md-4.ftco-animate.align-self-md-center(data-scrollax=" properties: { translateY: '70%' }")
          h1.mb-4(data-scrollax="properties: { translateY: '30%', opacity: 1.6 }")
            | Eminent 
            br
            | Innovative
            br
            | Infotech
          p.mb-md-5.mb-sm-3(data-scrollax="properties: { translateY: '30%', opacity: 1.6 }")
            | We build brand and beautiful experiences.
          p(data-scrollax="properties: { translateY: '30%', opacity: 1.6 }")
            a.btn.btn-primary.px-4.py-3(href='#') Get started
        #scroll.one-half.align-self-md-end.align-self-sm-center
          .slider-carousel.owl-carousel
           .item
             img#image.img-fluid.img(src='images/dashboard_full_1.png', data-target='#mymodal', data-toggle='modal', alt='Third slide')
           .item
             img#image.img-fluid.img(src='images/dashboard_full_2.png',  data-target='#mymodal', data-toggle='modal', alt='All-green Pond')
           .item
             img#image.img-fluid.img(src='images/dashboard_full_1.png', data-target='#mymodal', data-toggle='modal', alt='Dutch Pond')
            
  section.ftco-section.bg-light.zero-space
    .container-fluid
      .row
        .col-md-12.heading-section.ftco-animate
          marquee(behavior='scroll', direction='left')
           img#scrolling(src='images/java.png',  alt='Java', style="width: 130px;")
           img#scrolling(src='images/android.png',  alt='Android', style="width: 130px;")
           img#scrolling(src='images/Bigdata.png',  alt='Big Data', style="width: 130px;")
           img#scrolling(src='images/dot-Net-logo.png',  alt='.Net', style="width: 130px;")
           img#scrolling(src='images/web-designing.png',  alt='Web-Designing', style="width: 130px;")
           img#scrolling(src='images/selenium.png',  alt='Selenium', style="width: 130px;")
           img#scrolling(src='images/QTP-Training.png',  alt='QTP-Training', style="width: 130px;")
           img#scrolling(src='images/Python-Training.png',  alt='Phython-Training', style="width: 130px;")
           img#scrolling(src='images/Unix.png',  alt='Unix', style="width: 130px;")
           img#scrolling(src='images/c-c-plus-plus.png',  alt='C & C++', style="width: 130px;")
           img#scrolling(src='images/Cloud-Computing.png',  alt='Cloud Computing', style="width: 130px;")
           img#scrolling(src='images/AWS-Training.png',  alt='AWS', style="width: 130px;")
           img#scrolling(src='images/R-Language.png',  alt='R-Language', style="width: 130px;")
           img#scrolling(src='images/SQL-dba-Training.png',  alt='SQL-dba', style="width: 130px;")
           img#scrolling(src='images/oracle-dba-Training.png',  alt='Oracle-dba', style="width: 130px;")
  section.ftco-section.services-section
    .container
      .row.justify-content-center.mb-5.pb-5
        .col-md-7.text-center.heading-section.ftco-animate
          span.subheading Services
          h2.mb-4 Why choose us
      .row
        .col-md-4.d-flex.align-self-stretch.ftco-animate
          .media.block-6.services.d-block.text-center
            .d-flex.justify-content-center
              .icon
                span.flaticon-guarantee
            .media-body.p-2.mt-3
              h3.heading 100% Uptime Guarantee
              p
                | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
        .col-md-4.d-flex.align-self-stretch.ftco-animate
          .media.block-6.services.d-block.text-center
            .d-flex.justify-content-center
              .icon
                span.flaticon-shield
            .media-body.p-2.mt-3
              h3.heading Safe and Secured
              p
                | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
        .col-md-4.d-flex.align-self-stretch.ftco-animate
          .media.block-6.services.d-block.text-center
            .d-flex.justify-content-center
              .icon
                span.flaticon-support
            .media-body.p-2.mt-3
              h3.heading Our Dedicated Support
              p
                | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.
 


  section.ftco-section.bg-light
    .container
      .row.justify-content-center.mb-5.pb-5
        .col-md-7.text-center.heading-section.ftco-animate
 

          span.subheading Pricing Plans
          h2.mb-4 Our Best Pricing
      .row
        .col-md-3.ftco-animate
          .block-7
            .text-center
              h2.heading Free
              span.price
                sup $
                span.number 0
              span.excerpt.d-block 100% free. Forever
              a.btn.btn-primary.d-block.px-3.py-3.mb-4(href='#') Get Started
              h3.heading-2.mb-3 Enjoy All The Features
              ul.pricing-text
                li
                  strong 150 GB
                  |  Bandwidth
                li
                  strong 100 GB
                  |  Storage
                li
                  strong $1.00 / GB
                  |  Overages
                li All features
        .col-md-3.ftco-animate
          .block-7
            .text-center
              h2.heading Startup
              span.price
                sup $
                span.number 19
              span.excerpt.d-block All features are included
              a.btn.btn-primary.d-block.px-3.py-3.mb-4(href='#') Get Started
              h3.heading-2.mb-3 Enjoy All The Features
              ul.pricing-text
                li
                  strong 450 GB
                  |  Bandwidth
                li
                  strong 400 GB
                  |  Storage
                li
                  strong $2.00 / GB
                  |  Overages
                li All features
        .col-md-3.ftco-animate
          .block-7
            .text-center
              h2.heading Premium
              span.price
                sup $
                span.number 49
              span.excerpt.d-block All features are included
              a.btn.btn-primary.d-block.px-3.py-3.mb-4(href='#') Get Started
              h3.heading-2.mb-3 Enjoy All The Features
              ul.pricing-text
                li
                  strong 250 GB
                  |  Bandwidth
                li
                  strong 200 GB
                  |  Storage
                li
                  strong $5.00 / GB
                  |  Overages
                li All features
        .col-md-3.ftco-animate
          .block-7
            .text-center
              h2.heading Pro
              span.price
                sup $
                span.number 99
              span.excerpt.d-block All features are included
              a.btn.btn-primary.d-block.px-3.py-3.mb-4(href='#') Get Started
              h3.heading-2.mb-3 Enjoy All The Features
              ul.pricing-text
                li
                  strong 450 GB
                  |  Bandwidth
                li
                  strong 400 GB
                  |  Storage
                li
                  strong $20.00 / GB
                  |  Overages
                li All features
  section#section-counter.ftco-section.ftco-counter.img(style='background-image: url(images/bg_1.jpg);')
    .container
      .row.justify-content-center.mb-5.pb-5
        .col-md-7.text-center.heading-section.heading-section-white.ftco-animate
          h2.mb-4 Some fun facts
          span.subheading More than 100,000 websites hosted
      .row.justify-content-center
        .col-md-10
          .row
            .col-md-3.d-flex.justify-content-center.counter-wrap.ftco-animate
              .block-18.text-center
                .text
                  strong.number(data-number='2000') 0
                  span CMS Installation
            .col-md-3.d-flex.justify-content-center.counter-wrap.ftco-animate
              .block-18.text-center
                .text
                  strong.number(data-number='100') 0
                  span Awards Won
            .col-md-3.d-flex.justify-content-center.counter-wrap.ftco-animate
              .block-18.text-center
                .text
                  strong.number(data-number='32000') 0
                  span Registered Domains
            .col-md-3.d-flex.justify-content-center.counter-wrap.ftco-animate
              .block-18.text-center
                .text
                  strong.number(data-number='31998') 0
                  span Satisfied Customers
  section.ftco-section.testimony-section.bg-light
    .container
      .row.justify-content-center.mb-5.pb-5
        .col-md-7.text-center.heading-section.ftco-animate
          span.subheading Customer Says
          h2.mb-4 Our satisfied customer says
          p
            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in
      .row.ftco-animate
        .col-md-12
          .carousel-testimony.owl-carousel.ftco-owl
            .item
              .testimony-wrap.p-4.pb-5
                .user-img.mb-5(style='background-image: url(images/person_1.jpg)')
                  span.quote.d-flex.align-items-center.justify-content-center
                    i.icon-quote-left
                .text
                  p.mb-5
                    | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  p.name Dennis Green
                  span.position Marketing Manager
            .item
              .testimony-wrap.p-4.pb-5
                .user-img.mb-5(style='background-image: url(images/person_2.jpg)')
                  span.quote.d-flex.align-items-center.justify-content-center
                    i.icon-quote-left
                .text
                  p.mb-5
                    | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  p.name Dennis Green
                  span.position Interface Designer
            .item
              .testimony-wrap.p-4.pb-5
                .user-img.mb-5(style='background-image: url(images/person_3.jpg)')
                  span.quote.d-flex.align-items-center.justify-content-center
                    i.icon-quote-left
                .text
                  p.mb-5
                    | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  p.name Dennis Green
                  span.position UI Designer
            .item
              .testimony-wrap.p-4.pb-5
                .user-img.mb-5(style='background-image: url(images/person_1.jpg)')
                  span.quote.d-flex.align-items-center.justify-content-center
                    i.icon-quote-left
                .text
                  p.mb-5
                    | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  p.name Dennis Green
                  span.position Web Developer
            .item
              .testimony-wrap.p-4.pb-5
                .user-img.mb-5(style='background-image: url(images/person_1.jpg)')
                  span.quote.d-flex.align-items-center.justify-content-center
                    i.icon-quote-left
                .text
                  p.mb-5
                    | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  p.name Dennis Green
                  span.position System Analytics
  section.ftco-section
    .container
      .row.justify-content-center.mb-5.pb-5
        .col-md-7.text-center.heading-section.ftco-animate
          span.subheading Services
          h2.mb-4 How it works
      .row
        .col-md-12.nav-link-wrap.mb-5.pb-md-5.pb-sm-1.ftco-animate
          #v-pills-tab.nav.ftco-animate.nav-pills.justify-content-center.text-center(role='tablist' aria-orientation='vertical')
            a#v-pills-nextgen-tab.nav-link.active(data-toggle='pill' href='#v-pills-nextgen' role='tab' aria-controls='v-pills-nextgen' aria-selected='true') Next gen VPS
            a#v-pills-performance-tab.nav-link(data-toggle='pill' href='#v-pills-performance' role='tab' aria-controls='v-pills-performance' aria-selected='false') Performance
            a#v-pills-effect-tab.nav-link(data-toggle='pill' href='#v-pills-effect' role='tab' aria-controls='v-pills-effect' aria-selected='false') Effectiveness
        .col-md-12.align-items-center.ftco-animate
          #v-pills-tabContent.tab-content.ftco-animate
            #v-pills-nextgen.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='v-pills-nextgen-tab')
              .d-md-flex
                .one-forth.align-self-center
                  img.img-fluid.border(src='images/dashboard_full_1.jpg' alt='')
                .one-half.ml-md-5.align-self-center
                  h2.mb-4 Next gen VPS hosting
                  p
                    | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur
            #v-pills-performance.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-performance-tab')
              .d-md-flex
                .one-forth.order-last.align-self-center
                  img.img-fluid.border(src='images/dashboard_full_2.jpg' alt='')
                .one-half.order-first.mr-md-5.align-self-center
                  h2.mb-4 Performance VPS hosting
                  p
                    | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur
            #v-pills-effect.tab-pane.fade(role='tabpanel' aria-labelledby='v-pills-effect-tab')
              .d-md-flex
                .one-forth.align-self-center
                  img.img-fluid.border(src='images/dashboard_full_1.jpg' alt='')
                .one-half.ml-md-5.align-self-center
                  h2.mb-4 Effective VPS hosting
                  p
                    | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur
  section.ftco-section-parallax
    .parallax-img.d-flex.align-items-center
      .container
        .row.d-flex.justify-content-center
          .col-md-7.text-center.heading-section.heading-section-white.ftco-animate
            h2 Subcribe to our Newsletter
            p
              | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in
            .row.d-flex.justify-content-center.mt-5
              .col-md-6
                form.subscribe-form(action='#')
                  .form-group
                    span.icon.icon-paper-plane
                    input.form-control(type='text' placeholder='Enter email address')
  section.ftco-section.bg-light
    .container
      .row.justify-content-center.mb-5.pb-5
        .col-md-7.text-center.heading-section.ftco-animate
          span.subheading Blog
          h2 Recent Blog
          p
            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in
      .row
        .col-md-4.ftco-animate
          .blog-entry
            a.block-20(href='blog-single.html' style="background-image: url('images/image_1.jpg');")
            .text.p-4.d-block
              .meta.mb-3
                div
                  a(href='#') August 12, 2018
                div
                  a(href='#') Admin
                div
                  a.meta-chat(href='#')
                    span.icon-chat
                    |  3
              h3.heading
                a(href='#') Even the all-powerful Pointing has no control about the blind texts
        .col-md-4.ftco-animate
          .blog-entry(data-aos-delay='100')
            a.block-20(href='blog-single.html' style="background-image: url('images/image_2.jpg');")
            .text.p-4
              .meta.mb-3
                div
                  a(href='#') August 12, 2018
                div
                  a(href='#') Admin
                div
                  a.meta-chat(href='#')
                    span.icon-chat
                    |  3
              h3.heading
                a(href='#') Even the all-powerful Pointing has no control about the blind texts
        .col-md-4.ftco-animate
          .blog-entry(data-aos-delay='200')
            a.block-20(href='blog-single.html' style="background-image: url('images/image_3.jpg');")
            .text.p-4
              .meta.mb-3
                div
                  a(href='#') August 12, 2018
                div
                  a(href='#') Admin
                div
                  a.meta-chat(href='#')
                    span.icon-chat
                    |  3
              h3.heading
                a(href='#') Even the all-powerful Pointing has no control about the blind texts
  include footer
  #ftco-loader.show.fullscreen
    svg.circular(width='48px' height='48px')
      circle.path-bg(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke='#eeeeee')
      circle.path(cx='24' cy='24' r='22' fill='none' stroke-width='4' stroke-miterlimit='10' stroke='#F96D00')
      
      
  #mymodal.modal.fade
    .modal-dialog.modal-dialog-centered
      .modalcontent.modal-content
        .modal-header
          h3#header.text-primary Request For a Free Demo Class
          button.close(type='button', data-dismiss='modal') &times;
        .user-details.modal-body
            .form-group
              label.name-label
                input#user-name.pop_up_inputs(type='text', placeholder='Full Name', required)
              br
              label.email-label
                input#user-email.pop_up_inputs(type='email', placeholder='Email Address', required)
              br
              label.mobile-label
                input#user-mobile.pop_up_inputs(type='text', maxlength='10', name='phone', onkeypress='return isNumber(event)', placeholder='Mobile Number', required)
              br
              label.course-label
                select#user-course.pop_up_inputs(name='course', required)
                  option(value='')
                    | Select Course Name
                    optgroup(label='Java Training')
                      option(value='Core Java')
                        | Core Java
                      option(value='Spring')
                        | Spring
                      option(value='J2EE')
                        | J2EE
                      option(value='Struts')
                        | Struts
                      option(value='Hibernate')
                        | Hibernate
                        optgroup(label='Database Developer')
                          option(value='Oracle')
                            | Oracle
                          option(value='Teradata')
                            | Teradata
                          option(value='Informix')
                            | Informix
                          option(value='Sybase')
                            | Sybase
                          option(value='MongoDB')
                            | MongoDB
                          option(value='Apache Cassandra')
                            | Apache Cassandra
                            optgroup(label='DBA')
                              option(value='Oracle DBA')
                                | Oracle DBA
                              option(value='RAC')
                                | RAC
                              option(value='Dataguard')
                                | Dataguard
                              option(value='Oracle Apps DBA')
                                | Oracle Apps DBA
                              option(value='Performance Tuning')
                                | Performance Tuning
                              option(value='SQL Server DBA')
                                | SQL Server DBA
                              option(value='DB2 DBA UDB')
                                | DB2 DBA UDB
                              option(value='Teradata DBA')
                                | Teradata DBA
                                optgroup(label='IBM')
                                  option(value='Mainframe Developer')
                                    | Mainframe Developer
                                  option(value='Mainframe Admin')
                                    | Mainframe Admin
                                  option(value='Websphere Appln Server')
                                    | Websphere Appln Server
                                  option(value='WebSphere MQ System Admin')
                                    | WebSphere MQ System Admin
                                  option(value='WebSphere Message Broker')
                                    | WebSphere Message Broker
                                    optgroup(label='Microsoft')
                                      option(value='.Net')
                                        | .Net
                                      option(value='MVC')
                                        | MVC
                                      option(value='WCF & WPF')
                                        | WCF &amp; WPF
                                      option(value='Sharepoint Developer')
                                        | Sharepoint Developer
                                      option(value='Sharepoint Admin')
                                        | Sharepoint Admin
                                      option(value='SCCM 2012')
                                        | SCCM 2012
                                      option(value='Microsoft Dynamics')
                                        | Microsoft Dynamics
                                        optgroup(label='Cloud Computing')
                                          option(value='Amazon Web Services')
                                            | Amazon Web Services
                                          option(value='SalesForce')
                                            | SalesForce
                                          option(value='OpenStack')
                                            | OpenStack
                                          option(value='Open Nebula')
                                            | Open Nebula
                                          option(value='VMWare V Cloud')
                                            | VMWare V Cloud
                                          option(value='Workday Training')
                                            | Workday Training
                                            optgroup(label='Oracle Applications')
                                              option(value='Apps Finance')
                                                | Apps Finance
                                              option(value='Apps SCM')
                                                | Apps SCM
                                              option(value='Apps HRMS')
                                                | Apps HRMS
                                              option(value='Apps Technical')
                                                | Apps Technical
                                              option(value='Peoplesoft Finance')
                                                | Peoplesoft Finance
                                              option(value='Peoplesoft HCM')
                                                | Peoplesoft HCM
                                                optgroup(label='Server maintenance')
                                                  option(value='Linux admin')
                                                    | Linux admin
                                                  option(value='Windows Admin')
                                                    | Windows Admin
                                                  option(value='Unix Admin')
                                                    | Unix Admin
                                                  option(value='Citrix')
                                                    | Citrix
                                                  option(value='AIX')
                                                    | AIX
                                                  option(value='Net App Storage')
                                                    | Net App Storage
                                                  option(value='EMC Storage')
                                                    | EMC Storage
                                                    optgroup(label='Data Warehousing')
                                                      option(value='Informatica')
                                                        | Informatica
                                                      option(value='Datastage')
                                                        | DataStage
                                                      option(value='OBIEE')
                                                        | OBIEE
                                                      option(value='Microsoft BI')
                                                        | Microsoft BI
                                                      option(value='MicroStrategy')
                                                        | MicroStrategy
                                                      option(value='Cognos')
                                                        | Cognos
                                                      option(value='Cognos TM1')
                                                        | Cognos TM1
                                                      option(value='Tibco')
                                                        | Tibco
                                                      option(value='SAS')
                                                        | SAS
                                                      option(value='Hadoop')
                                                        | Hadoop
                                                      option(value='Big data Analysis')
                                                        | Big data Analysis
                                                      option(value='R Programming')
                                                        | R Programming
                                                      option(value='Ab Initio')
                                                        | Ab Initio
                                                      option(value='Informatica Data Quality')
                                                        | Informatica Data Quality
                                                      option(value='Informatica MDM')
                                                        | Informatica MDM
                                                      option(value='Business Objects')
                                                        | Business Objects
                                                      option(value='QlikView')
                                                        | QlikView
                                                      option(value='Tableau')
                                                        | Tableau
                                                      option(value='Pentaho')
                                                        | Pentaho
                                                      option(value='Machine Learning using R')
                                                        | Machine Learning using R
                                                      option(value='Datascience')
                                                        | Datascience
                                                      option(value='Datascience using R Programming')
                                                        | Datascience using R Programming
                                                      option(value='Datascience with SAS')
                                                        | Datascience with SAS
                                                      option(value='Datascience with Python')
                                                        | Datascience with Python
                                                      option(value='Apache Spark')
                                                        | Apache Spark
                                                        optgroup(label='Mobile Applications')
                                                          option(value='Android')
                                                            | Android
                                                          option(value='iOS')
                                                            | iOS
                                                            optgroup(label='Software Testing')
                                                              option(value='Manual Testing')
                                                                | Manual Testing
                                                              option(value='QTP')
                                                                | QTP
                                                              option(value='Selenium')
                                                                | Selenium
                                                              option(value='Loadrunner')
                                                                | Loadrunner
                                                              option(value='ETL Testing')
                                                                | ETL Testing
                                                              option(value='JMeter')
                                                                | JMeter
                                                              option(value='')
                                                                | Test Complete
                                                              option(value='Soap UI')
                                                                | Soap UI
                                                              option(value='Coded UI')
                                                                | Coded UI
                                                              option(value='Mobile Application Testing')
                                                                | Mobile Application Testing
                                                                optgroup(label='Web Design & Development')
                                                                  option(value='HTML & CSS')
                                                                    | HTML &amp; CSS
                                                                  option(value='PHP & MySQL')
                                                                    | PHP &amp; MySQL
                                                                  option(value='JavaScript')
                                                                    | JavaScript
                                                                  option(value='Node JS')
                                                                    | Node JS
                                                                  option(value='Angular JS')
                                                                    | Angular JS
                                                                  option(value='Bootstrap')
                                                                    | Bootstrap
                                                                  option(value='jQuery')
                                                                    | jQuery
                                                                  option(value='WordPress')
                                                                    | WordPress
                                                                    optgroup(label='Designing')
                                                                      option(value='Photoshop')
                                                                        | Photoshop
                                                                      option(value='Illustrator')
                                                                        | Illustrator
                                                                      option(value='CorelDraw')
                                                                        | CorelDraw
                                                                      option(value='InDesign')
                                                                        | InDesign
                                                                        optgroup(label='Languages')
                                                                          option(value='Spoken English')
                                                                            | Spoken English
                                                                          option(value='Japanese')
                                                                            | Japanese
                                                                          option(value='German')
                                                                            | German
                                                                          option(value='French')
                                                                            | French
                                                                          option(value='Spanish')
                                                                            | Spanish
                                                                            optgroup(label='Other Training')
                                                                              option(value='Digital Marketing')
                                                                                | Digital Marketing
                                                                              option(value='SEO')
                                                                                | SEO
                                                                              option(value='UNIX Shell Scripting')
                                                                                | UNIX Shell Scripting
                                                                              option(value='PERL Scripting')
                                                                                | PERL Scripting
                                                                              option(value='Python')
                                                                                | Python
                                                                              option(value='DevOps')
                                                                                | DevOps
                                                                              option(value='Solaris')
                                                                                | Solaris
                                                                              option(value='Windows Power Shell')
                                                                                | Windows Power Shell
                                                                              option(value='Ruby on Rails')
                                                                                | Ruby on Rails
                                                                              option(value='Ansible')
                                                                                | Ansible
                                                                              option(value='Jenkins')
                                                                                | Jenkins
                                                                              option(value='Pega')
                                                                                | Pega
                                                                              option(value='Scrum Master')
                                                                                | Scrum Master
                                                                              option(value='PMP')
                                                                                | PMP
                                                                              option(value='ITIL')
                                                                                | ITIL
                                                                              option(value='Prince2')
                                                                                | Prince2
                                                                              option(value='Tally')
                                                                                | Tally
                                                                              option(value='AJAX')
                                                                                | AJAX
                                                                              option(value='Hardware & Networking')
                                                                                | Hardware &amp; Networking
                                                                              option(value='C & C++')
                                                                                | C &amp; C++
                                                                              option(value='MS Office')
                                                                                | MS Office
                                                                              option(value='Advanced Excel')
                                                                                | Advanced Excel
                                                                              option(value='Bamboo')
                                                                                | Bamboo
                                                                                optgroup(label='Not in This List')
                                                                                  option(value='Not in This List')
                                                                                    | Not in This List
              br
              label.location-label
                textarea#user-location.pop_up_inputs(name='location', maxlength='50', placeholder='Location', required)
              br
              label.message-label
                textarea#user-message.pop_up_msg(rows='2', name='msg', placeholder='Message', required)
        #Submit-button  
          .modal-footer
            input#contact-submit.btn.btn-primary(type='submit', value='Submit', onclick='AjaxUtils.demo()', name='sub1')


    


    script(src='/javascripts/js/jquery.min.js')
    script(src='/javascripts/js/jquery-migrate-3.0.1.min.js')
    script(src='/javascripts/js/popper.min.js')
    script(src='/javascripts/js/bootstrap.min.js')
    script(src='/javascripts/js/jquery.easing.1.3.js')
    script(src='/javascripts/js/jquery.waypoints.min.js')
    script(src='/javascripts/js/jquery.stellar.min.js')
    script(src='/javascripts/js/owl.carousel.min.js')
    script(src='/javascripts/js/jquery.magnific-popup.min.js')
    script(src='/javascripts/js/aos.js')
    script(src='/javascripts/js/jquery.animateNumber.min.js')
    script(src='/javascripts/js/bootstrap-datepicker.js')
    script(src='/javascripts/js/jquery.timepicker.min.js')
    script(src='/javascripts/js/scrollax.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')
    script(src='/javascripts/js/google-map.js')
    script(src='/javascripts/js/main.js')
    script(src='/javascripts/js/AjaxUtil.js')
