doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/css/open-iconic-bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/css/animate.css')
    link(rel='stylesheet', href='/stylesheets/css/owl.carousel.min.css')
    link(rel='stylesheet', href='/stylesheets/css/owl.theme.default.min.css')
    link(rel='stylesheet', href='/stylesheets/css/magnific-popup.css')
    link(rel='stylesheet', href='/stylesheets/css/aos.css')
    link(rel='stylesheet', href='/stylesheets/css/ionicons.min.css')
    link(rel='stylesheet', href='/stylesheets/css/bootstrap-datepicker.css')
    link(rel='stylesheet', href='/stylesheets/css/jquery.timepicker.css')
    link(rel='stylesheet', href='/stylesheets/css/flaticon.css')
    link(rel='stylesheet', href='/stylesheets/css/icomoon.css')
    link(rel='stylesheet', href='/stylesheets/css/style.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

  body
    block content
