 
html
  head
    title= "Eminent innovative infotech - Software develppment and trainings online and offline"
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Eminent provides training on java tutorial, android,java frameworks, javascript, ajax, core java, sql, python, php,c language etc. for beginners and professionals.')
    meta(name='keywords', content='computerProgramming languages , Computer Programming ,Java,Big Data, Machine Learning , Spring,Hibernate, Courses , In India,Chennai,delhi,noida,mumbai,banaglore,Pune,Hyderabad.')
    link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/css/open-iconic-bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/css/animate.css')
    link(rel='stylesheet', href='/stylesheets/css/owl.carousel.min.css')
    link(rel='stylesheet', href='/stylesheets/css/owl.theme.default.min.css')
    link(rel='stylesheet', href='/stylesheets/css/magnific-popup.css')
    link(rel='stylesheet', href='/stylesheets/css/aos.css')
    link(rel='stylesheet', href='/stylesheets/css/ionicons.min.css')
    link(rel='stylesheet', href='/stylesheets/css/bootstrap-datepicker.css')
    link(rel='stylesheet', href='/stylesheets/css/jquery.timepicker.css')
    link(rel='stylesheet', href='/stylesheets/css/flaticon.css')
    link(rel='stylesheet', href='/stylesheets/css/icomoon.css')
    link(rel='stylesheet', href='/stylesheets/css/style.css')
    link(rel='stylesheet', href='/stylesheets/custom.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='canonical',  href='http://eminentinnovative.com/')

  body
    block content