extends layout

block append content
  nav#ftco-navbar.navbar.navbar-expand-lg.navbar-dark.ftco_navbar.bg-dark.ftco-navbar-light
    .container
      a.navbar-brand(href='/')
        i#home.fa.fa-home

      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#ftco-nav' aria-controls='ftco-nav' aria-expanded='false' aria-label='Toggle navigation')
        span.oi.oi-menu
        |  Menu
      #ftco-nav.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href='/') Home
          li.nav-item
            a.nav-link(href='/about') About
          li.nav-item
            a.nav-link(href='/courses') Courses
          li.nav-item
            a.nav-link(href='/oServices') Other Services
          li.nav-item
            a.nav-link(href='/blog') Blog
          li.nav-item
            a.nav-link(href='/contact') Contact
          li.nav-item.cta
            a.nav-link(href='/contact')
              span Get started